<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/templates/biofa/css/colorbox.css" />
    <link rel="stylesheet" type="text/css" href="/templates/biofa/css/skins/tango/skin.css" />
    <link rel="stylesheet" type="text/css" href="site_style.css" />
    <script src="/templates/biofa/js/jquery-1.8.2.min.js"></script>
    <script src="/templates/biofa/js/slides.min.jquery.js"></script>
    <script src="/templates/biofa/js/jquery.colorbox.js"></script>
    <script src="/templates/biofa/js/jquery.jcarousel.min.js"></script>
    <script src="/templates/biofa/js/jquery.twaddress.js"></script>
    <script src="/templates/biofa/js/jquery-date-select.js"></script>
    <script src="/templates/biofa/js/common.js"></script>
    <script type="text/javascript">{{ page_js.content }}</script>
</head>
<body>

<!-- 頁首區開始 -->
<div id="header" class="wrap">
    <div class="shopping_cart">
        <a href="cart01.html">{{ cart_count }}</a>
    </div>
    <div class="user_menu"></div>
    <div class="clear"></div>
    <div class="logo">
        <a href="/"><img src="{{ logo.image }}" alt="logo" id="logo_img" /></a>
    </div>
    <div class="main_menu">
        {% for item in menu_list %}<a href="{{ item.url }}"><img src="{{ item.image }}" alt="{{ item.title }}"/></a>{% endfor %}
    </div>
</div>
<!-- 頁首區結束 -->


<!-- 本文區開始 -->
<div id="container" class="wrap">
    <div class="side_menu">
        <img src="" alt="menu title" style="float:left;" id="menu_member" />
        <div class="leftMenu">
            {% if is_login == False %}
                <div class="treeOne"><a href="join.html" title="">加入會員</a></div><div class="lineD"></div>
                <div class="treeOne"><a href="password.html" title="">忘記密碼</a></div><div class="lineD"></div>
            {% endif %}
                <div class="treeOne"><a href="info.html" title="">修改會員資料</a></div><div class="lineD"></div>
                <div class="treeOne"><a href="cart01.html" title="">購物車</a></div><div class="lineD"></div>
                <div class="treeOne"><a href="order_list.html" title="">查詢訂單</a></div><div class="lineD"></div>
                <div class="treeOne"><a href="newsletter.html" title="">訂閱電子報</a></div><div class="lineD"></div>
        </div>
        <div class="fb">
            {{ menu_in_page.content }}
        </div>
        <div class="btn-goto-top">
            <img src="" id="======" alt="" id="img-goto-top" />
        </div>
    </div>
    <div class="content">
        <div class="side_show_small">
            <div id="slides">
                <div class="slides_container">
                    {% for item in banner_list %}
                        <div><img src="{{ item.image }}" style="width: 750px;"></div>
                    {% endfor %}
                </div>
            </div>
        </div>

<!-- 內文區開始 -->
{% block content %}{% endblock %}
<!--內文區結束 -->

    </div>
    <div class="clear"></div>
</div>
<!-- 本文區結束 -->


<!-- 頁尾區開始 -->
<div id="footer">
    <div class="wrap">
        {{ footer_1.content }}
        <div>
            <img src="" class="qrcode" />
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="site_info">
    <div class="wrap">
        {{ footer_2.content }}
    </div>
</div>
<!-- 頁尾區結束 -->
</body>
</html>