{% extends "base.html" %}
{% block content %}
<div class="textBox recruit">
	<div><img src="img/disstep03.gif" alt="" /></div>
    <table cellpadding="0" cellspacing="0" border="0" width="710" class="carTable">
    	<tr>
        	<th width="150">產品圖</th>
            <th>產品名稱</th>
            <th>產品編號</th>
            <th>單價</th>
            <th>數量</th>
            <th>小計</th>
        </tr>
        {% for item in order.items %}
            <tr>
                <td align="center"><a href="product_view.html?key={{ item.product_key }}" title=""><img src="{{ item.product_image }}" alt="" class="carImg" /></a></td>
                <td align="center" class="goodsName"><a href="product_view.html?key={{ item.product_key }}" title="">{{ item.product_name }}</a></td>
                <td align="center">{{ item.product_no }}</td>
                <td align="center">NT${{ item.amount }}</td>
                <td align="center">{{ item.quantity }}</td>
                <td align="center" class="price">NT${{ item.total }}</td>
            </tr>
        {% endfor %}
    </table>
    <table cellpadding="0" cellspacing="0" border="0" width="710" class="carPrice">
        <tr>
            <td>
                小計：<span>NT$ {{ order.total }}</span></td>
        </tr>
    </table>
    <div class="btn03"><a href="cart01.html" title=""><img src="img/carreset_out.gif" alt="" class="img_change"  /></a></div>
    
    <div><img src="img/carstep01_2.gif" alt="" /></div>
    <table cellpadding="0" cellspacing="0" border="0" width="710" class="step02_3">
    	<tr>
            	<th align="left" width="70">訂購人姓名</th>
                <td>{{ order.info.order_name }}</td>
                <th align="left" width="70">聯絡電話</th>
                <td>{{ order.info.order_telephone }}</td>
                <th align="left" width="70">手機號碼</th>
                <td>{{ order.info.order_mobile }}</td>
            </tr>
            <tr>
            	<th align="left">E-Mail</th>
                <td>{{ order.info.order_email }}</td>
                <th align="left">聯絡地址</th>
                <td colspan="3">{{ order.info.order_address }}</td>
            </tr>
    </table>
    <div><img src="img/carstep02_2.gif" alt="" /></div>
    <table cellpadding="0" cellspacing="0" border="0" width="710" class="step02_3">
    	<tr>
            	<th align="left" width="70">訂購人姓名</th>
                <td>{{ order.info.addressee_name }}</td>
                <th align="left" width="70">聯絡電話</th>
                <td>{{ order.info.addressee_telephone }}</td>
                <th align="left" width="70">手機號碼</th>
                <td>{{ order.info.addressee_mobile }}</td>
            </tr>
            <tr>
            	<th align="left">E-Mail</th>
                <td>{{ order.info.addressee_email }}</td>
                <th align="left">聯絡地址</th>
                <td colspan="3">{{ order.info.addressee_address }}</td>
            </tr>
    </table>
    <div><img src="img/carstep03_2.gif" alt="" /></div>
    <table cellpadding="0" cellspacing="0" border="0" width="710" class="step02_4">
        <tr>
            <th align="left" width="70">付款方式</th>
            <td>{{ order.info.send_type }}</td
            <th align="left" width="70">發票資訊</th>
            <td>{{ order.info.invoice_type }}</td>
        </tr>
        <tr>
            <th align="left" width="70">統編</th>
            <td>{{ order.info.invoice_number }}</td
            <th align="left" width="70">抬頭</th>
            <td>{{ order.info.invoice_title }}</td>
        </tr>
    </table>
    <div class="btn03"><a href="cart02.html" title=""><img src="img/carreset_out.gif" alt="" class="img_change"  /></a></div>
    <table cellpadding="0" cellspacing="0" border="0" width="710" class="total">
    	<tr>
        	<td>訂單總金額 <font color="#FF6600">(NT$ {{ order.total }})</font> + 運費 <font color="#FF6600">(NT$ {{ order.freight }})</font> ＝ <span><font color="#FF6600">NT$ {{ order.total_with_freight }}</font></span></td>
        </tr>
    </table>
    <div class="btn04">
        <a href="cart02.html" title=""><img src="img/carback_out.gif" alt="" class="img_change"  /></a>
        <a id="go_step_4" title=""><img src="img/nextstep_out.gif" alt="" class="img_change"  /></a>
    </div>
</div>
{% endblock %}