{% extends "base.html" %}
{% block content %}
<table cellpadding="0" cellspacing="0" border="0" width="750">
    {% for item in results %}
	<tr class="newsList">
    	<td align="center" style="width:100px;"><span class="pref">【{{ item.category_title }}】</span></td>
        <th align="left"><a href="news_view.html?key={{ item.str_key }}">{{ item.title }}</a></th>
        <td align="center" style="width:100px;" class="date">{{ item.create_date_f }}</td>
    </tr>
    <tr>
        <td colspan="3" class="line"></td>
    </tr>
    {% endfor %}
</table>
<div class="pager" align="center" data-page-all="{{ page_all }}" data-page-now="{{ page }}"></div>
{% endblock %}