{% extends "base.html" %}
{% block content %}
<div><img src="img/news_title.gif" alt="" id="news_title" /></div>
<table cellpadding="0" cellspacing="0" border="0" width="750">
    {% for item in results %}
	<tr class="newsList">
    	<td align="center"><span class="pref">【{{ item.category_title }}】</span></td>
        <th align="left"><a href="news_view.html?key={{ item.str_key }}" title="{{ item.title }}">{{ item.title }}</a></th>
        <td align="center" class="date">{{ item.create_date_f }}</td>
    </tr>
    <tr>
        <td colspan="3" class="line"></td>
    </tr>
    {% endfor %}
</table>
<!-- page -->
<div class="pager" align="center"><a href="#" title="上一頁"><img src="img/prev_out.gif" alt="上一頁" class="img_change prev" align="absmiddle" /></a><span class="current">1</span>‧<a href="#" title="2">2</a>‧<a href="#" title="3">3</a><a href="#" title="4">4</a>‧<a href="#" title="5">5</a><a href="#" title="下一頁"><img src="img/next_out.gif" alt="下一頁" class="img_change next" align="absmiddle" /></a></div>
<!-- page end -->
{% endblock %}