{% extends "base_member.html" %}
{% block content %}
<div class="textBox recruit">
    <form>
	<div class="loginBox">
    	<div>請輸入您的「<font color="#990707">會員帳號</font>」與「<font color="#990707">信箱</font>」，系統將密碼寄至你的信箱。<br />
            密碼應定期更新，重新設定新密碼後，舊密碼即失效！</div>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td width="30"><img src="img/icon03.gif" alt="" /></td>
                    <th align="left" width="60">會員帳號</th>
                    <td><input type="text" value="" name="account" class="input w295" /></td>
                </tr>
                <tr>
                    <td><img src="img/icon03.gif" alt="" /></td>
                    <th align="left">電子信箱</th>
                    <td><input type="text" name="email" value="" class="input w295" /></td>
                </tr>
                <tr>
                    <td><img src="img/icon03.gif" alt="" /></td>
                    <th align="left">驗證碼</th>
                    <td>
                        <input type="text" name="code" value="" class="input w80" />
                        &nbsp;&nbsp;&nbsp;
                        <span id="error_code" class="error"></span>&nbsp;&nbsp;
                        <a heef="#" id="change_v_code" style="cursor: pointer;">更換驗證碼</a>
                        <iframe src="" style="border: 0px; width:142px; height:25px;" scrolling="no" id="v_code_iframe"></iframe>
                    </td>
                </tr>
            </table>
    </div>
    <div class="memberBtn">
        <a href="join.html" title=""><img src="img/joinbtn_out.gif" alt="" class="img_change"  /></a>
        <a href="login.html" title=""><img src="img/loginbtn_out.gif" alt="" class="img_change"  /></a>
    </div>
    <div class="clear"></div>
    <div class="line"></div>
    <div class="btn" align="center">
        <button type="reset" style="padding: 0px;border: 0px;background: white;cursor: pointer;"><img src="img/reset_out.gif" class="img_change" /></button>
        <button type="button" style="padding: 0px;border: 0px;background: white;cursor: pointer;" id="submit"><img  src="img/submit_out.gif" class="img_change"/></button>
    </div>
    </form>
    <script type="text/javascript">
        $(function(){
            $("#submit").click(function(){
                json("/password.json",$("form").serialize(),function(data){
                    for(prop in data)
                    {
                        if (data[prop] != ""){
                            $("#error_" + prop ).html(data[prop]).prev().addClass("on_error");
                        }else{
                            $("#error_" + prop ).html("").prev().removeClass("on_error");
                        }
                    }
                    if (data.info.toString() == "done")
                    {
                        location.reload()
                    }else{
                        alert(data.info);
                    }

                },function(data){
                })
            });
        });
    </script>
</div>
{% endblock %}