{% extends "base.html" %}
{% block content %}
<div class="product_list">
    {% for item in results %}
    <table border="0" style="width:100%">
        <tr>
            <td class="image" rowspan="3"><a href="{{ item.image }}" class="colorbox"><img src="{{ item.image }}" alt="商品縮圖" width="150" /></a></td>
            <td class="title">
                <a href="product_view.html?key={{ item.str_key }}"><span style="float:left;">{{ item.title }}</span><img src="{{ image_product_detail_icon }}" alt="查看產品" /></a>
            </td>
            <td class="price">${{ item.price }}</td>
        </tr>
        <tr>
            <td colspan="2"><hr class="line" /></td>
        </tr>
        <tr>
            <td class="context" colspan="2">{{ item.efficacy }}</td>
        </tr>
    </table>
    {% endfor %}

    <div class="pager" align="center" data-page-all="{{ page_all }}" data-page-now="{{ page }}"></div>
</div>
{% endblock %}