首頁下方要作
http://www.vmoon.com.tw/demo020/index.html

點小圖放大圖
http://www.vmoon.com.tw/demo020/p2.html
http://www.vmoon.com.tw/demo020/p24.html

加盟
世界地圖->點台灣 =  p27.html

40242
大慶街二段49之20號

(04)2263-8569

mns01.domaincontrol.com  216.69.185.34
mns02.domaincontrol.com  208.109.255.34

Google apps 密碼  2w4r6y8i

將下方的 TXT 記錄新增至各網域的 DNS 設定。
www.14888.com.tw            biofa-1
    TXT  google-site-verification=qaJhkTrHV5Un2U945wYXyZ0pjPqz-8tU-FxA-O99RvE
www.mainpie.com.tw          biofa-2
    TXT  google-site-verification=Dk_9mj3JMC9ZEaahmA7FQ75Z_tQ8TPTbK7jiTsxRvCA
www.biofa-mc.com.tw         biofa-3
    TXT  google-site-verification=msYNCijmEeH9C_QuwIFbt72fyEuoCN1vuAobPdZXV7E
www.tgg.com.tw              biofa-4
    TXT  google-site-verification=mLYc6wzaBmkkN8g0iavXMTAgMofo5kwW0OaC3WT7WNA


DNS 主要設定、4個網站皆相同即可
A	*	216.239.32.21
A	*	216.239.34.21
A	*	216.239.36.21
CNAME	www	ghs.google.com






以下是上傳的時候遇到的問題，再麻煩了

=========處理完畢==================================================================
2013/02/05 1.首頁的購物車圖示左邊目前無法編輯(增修連結、文字顏色等)
　　新增　頁面 > 頁面區塊維護
　　　> 購物車左側
　　　> 購物車左側-登入
　　２個區塊

2013/02/05 2.首頁底圖圖片會超過原本圖示，露出紅色線條，圖片已經拉很高還是如此
　　此為頁面區塊的外部框線
　　可至　樣式 > 基本樣式:351行 修改
    #footer{
         border-top: solid 4px #760000 ;
　　目前已將此改的框線寬度改為 0px 了
    #footer{
         border-top: solid 0px #524E4F ;

2013/02/05 3.頁面選單維護中的首頁連結項目用途為何? 頁面維護中的頁面列表用途為何?
　　這是下面的頁面區塊使用的，我是先放著，
　　方便自己新增頁面攥寫程式，到時會移除

2013/02/05 4.人才招募上的橫條可否更換?
　　經測試可以更換，在樣式，
　　標題圖片設定中，改完請記得回列表頁按套用

2013/02/05 6.後台新增完問與答後，後台會自動跳到最新消息，連結有點問題
　　在點編輯時的高亮選單項目有誤，頁面是正確的
　　已修正

2013/02/05 8.合作廠商點圖片無法連結到網站。
　　前台頁面需要填寫文字，並點擊文字來連結
　　需要連圖片也可點擊嗎

2013/02/05 9.發送電子報時，出現伺服器錯誤了
　　發信來源未驗証，所以發生錯誤了，請先給我個可發信的信箱
　　會在　設定　區裡填在 email 的維護

　　
2013/02/05 14.會員登入的頁面，文字擠在一起，要能修改文字顏色
　　新增　頁面 > 頁面區塊維護
　　　> 登入頁面說明

2013/02/05 23.網站地圖按下去出現404 Not Found
　　讀取列表時發生錯誤，已修正

2013/02/05 1.商品相關中之運費管理，輸入資料送出後出現伺服器錯誤了，無法新增。
2013/02/05 20.商品相關中之運費管理，輸入資料送出後出現伺服器錯誤了，無法新增。
　　三個欄位的輸入值皆需為數字，已填加欄位檢查，
　　輸入非數字會有訊息告知

2013/02/05 2.新進訂單轉成訂單，無明確的按鈕銜接。
　　目前為檢視5次後會自動傳成一般訂單，
　　可以依日期來作轉換，如3日內，或是要人工自行轉換?

2013/02/05 13.聯絡我們按送出時，一直出現驗證碼有錯誤，後台也沒有顯現
　　重覆產生2次驗證碼，已修正



2013/02/05 7.使用IE瀏覽器登入網站後台時，會要求下載google內嵌瀏覽框？
　　是的，此元件只需下載一次即可，
　　主要是解決舊版  ie  的一些 bug 及版面錯誤



2013/02/05 25.IE瀏覽器中的頁尾底圖，在尺寸較小的螢幕中呈現中間小色塊中的黃色線條
　　這是因為你在 修飾圖片設定 中，設定  背景圖片 小
　　所以出現那個黃色線條，而 ie 在判讀區塊高度有發生問題，
　　他的高並不是正確的，所以你才發現因該在最上方的線條出現在中間了，
　　目前已先將　背景圖片 小 給移除了


2013/02/05 15.最新消息中，發佈最新消息的文字標題的顏色無法修改
2013/02/05 35.最新消息中，發佈最新消息的文字標題的顏色無法修改
　　已將此欄位改為文字編輯器


2013/02/05 18.關於我們，左側順序為公司沿革，再接著是品牌由來，但是點擊關於我們標題選單時，會先出現品牌由來，應該先出現第一順序(公司沿革)的頁面。
　　已修改

2013/02/05 37.頁尾上傳QR code後，前台沒有顯示
　　實際上它是有存在在頁面上的，不過被頁尾給擠到下面去，
　　看不見，目前將此圖片由 頁面圖片設定  移除，
　　統一由 頁面 -> 頁尾 處維護，避免跑版的問題

=========正在處理==================================================================
2013/02/05 10.商品若無分層，在第一層就可以出現產品，不要強制到第三類去放產品
　　商品編輯方式已改變，請試試看

2013/02/05 11.商品分類階層無法出現
　　商品編輯方式已改變，請試試看

=========尚未處理==================================================================
2013/02/05 5.問與答的色塊和顏色無法更動?

2013/02/05 12.點選購買商品後，直接修改數量，價錢無法自動加總，依舊是一個數量的價錢

2013/02/05 13.購物前要先登入會員或是在購物中某一流程要登入或加入會員，這樣購買後才可以查詢訂單。

2013/02/05 7.問與答上傳後，前台顯示間距有跑掉。問與答目前無法自訂分類。分類完左側要出現分類項目。最新消息也一樣。
　　
2013/02/05 15.登入會員後，進入訂單內，若無訂單應該出現，目前無訂單簡易說明，不要出現404 not Found

2013/02/05 16.更換驗證碼以圖示表示，不要直接出現文字

2013/02/05 17.從會員登入訂閱電子報後台沒有出現填入的信箱，且按了沒有反應

2013/02/05 18.登入自己創立的會員帳號，要修改會員資料時，是抓到biofa帳號的空白資料

2013/02/05 19.首頁活動專區六個專區，尺寸可否再大一點

2013/02/05 20.左側無法換圖:最新消息、加盟專區、人才招募、聯絡我們

2013/02/05 21.產品列表無法更換虛線

2013/02/05 22.合作廠商向左向右上傳圖片後沒有反應，圖片沒有更動

2013/02/07 3.付款資訊(填寫相關資料)，當中的抬頭部份空白欄位錯位，跑到三聯式發票下。
以及第2步驟中之「Step2 填寫收件人」圖示消失了。

2013/02/07 4.商品購物車訂購按鈕之前有提及，可在後台切換成：加入購物車或是加入諮詢，以及修改其圖示：加入購物車或是加入諮詢。

2013/02/07 5.產品之詳細內容中的back圖示可否再大一點，不太明顯。

2013/02/07 8.開啟頁面延遲時，會先出現之前切版的圖示，例如首頁頁尾灰色色塊、內頁小標題等等，擔心造成混淆。

2013/02/07 9.自傳上傳個人照片時，以應徵者角度來說跳出的頁面太過複雜，頁面提供上傳尺寸以及上傳功能即可。

2013/02/07 10.填寫工作應徵資料送出時，沒有結束頁面，且出現的小頁框內的文字為[Object object]

2013/02/07 11.履歷表填寫完畢後，前台有填寫的欄位，後台再去看的時候，有些資料沒有顯現出來：自傳、前一工作中的任職期間、語言能力填寫三項後台僅出現一項、交通工作填寫兩項後台僅出現一項、駕駛執照填寫兩項後台僅出現一項

2013/02/07 12.尚未能更換之圖示與內容：
(1)聯絡我們表單的標題文字
(2)會員登入後頁面文字、各小圖示
(3)會員登入之頁面文字說明、各小圖示、表單欄位前文字
(4)訂閱電子報之頁面文字說明、各小圖示、表單欄位前文字
(5)忘記密碼之頁面文字說明、各小圖示、表單欄位前文字
(6)聯絡我們中的地圖連結、地址資訊、表單欄位前文字
(7)修改會員資料之頁面說明、各小圖示、表單欄位前文字
(8)查詢訂單之頁面說明、各小圖示、表單欄位前文字

2013/02/07 14.首頁購物車圖示旁的那一行文字太貼近上邊緣，調整低一點和購物車中的數量0位置相當。

2013/02/07 15.最新消息中，發佈最新消息的文字標題的顏色無法修改

2013/02/07 16.幻燈片播放控制秒數

2013/02/07 17.頁尾上傳QR code後，前台沒有顯示

2013/02/07 18.關於我們，左側順序為公司沿革，再接著是品牌由來，但是點擊關於我們標題選單時，會先出現品牌由來，應該先出現第一順序(公司沿革)的頁面。

2013/02/07 19.上傳內頁商品圖片時，三欄跑馬燈小圖示無法獨立上傳會隨之改變。

2013/02/07 21.新進訂單轉成訂單，無明確的按鈕銜接。

2013/02/07 22.付款資訊(填寫相關資料)，當中的抬頭部份空白欄位錯位，跑到三聯式發票下。以及第2步驟中之「Step2 填寫收件人」圖示消失了。

2013/02/07 23.商品購物車訂購按鈕之前有提及，可在後台切換成：加入購物車或是加入諮詢，以及修改其圖示：加入購物車或是加入諮詢。

2013/02/07 24.產品之詳細內容中的back圖示可否再大一點，不太明顯。

2013/02/07 26.使用IE瀏覽器登入網站後台時，會要求下載google內嵌瀏覽框？

2013/02/07 27.開啟頁面延遲時，會先出現之前切版的圖示，例如首頁頁尾灰色色塊、內頁小標題等等，擔心造成混淆。

2013/02/07 28.自傳上傳個人照片時，以應徵者角度來說跳出的頁面太過複雜，頁面提供上傳尺寸以及上傳功能即可。

2013/02/07 29.填寫工作應徵資料送出時，沒有結束頁面，且出現的小頁框內的文字為[Object object]

2013/02/07 30.履歷表填寫完畢後，前台有填寫的欄位，後台再去看的時候，有些資料沒有顯現出來：自傳、前一工作中的任職期間、語言能力填寫三項後台僅出現一項、交通工作填寫兩項後台僅出現一項、駕駛執照填寫兩項後台僅出現一項

2013/02/07 31.尚未能更換之圖示與內容：

(1)聯絡我們表單的標題文字
(2)會員登入後頁面文字、各小圖示
(2)會員登入之頁面文字說明、各小圖示、表單欄位前文字
(3)訂閱電子報之頁面文字說明、各小圖示、表單欄位前文字
(4)忘記密碼之頁面文字說明、各小圖示、表單欄位前文字
(5)聯絡我們中的地圖連結、地址資訊、表單欄位前文字
(6)修改會員資料之頁面說明、各小圖示、表單欄位前文字
(7)查詢訂單之頁面說明、各小圖示、表單欄位前文字

2013/02/07 32.聯絡我們按送出時，一直出現驗證碼有錯誤，後台也沒有顯現

2013/02/07 33.確認為何會出現：Over Quota 超出應用程式可用額度

2013/02/07 34.首頁購物車圖示旁的那一行文字太貼近上邊緣，調整低一點和購物車中的數量0位置相當。
2013/02/07 36.幻燈片播放控制秒數
2013/02/07 37.頁尾上傳QR code後，前台沒有顯示
2013/02/07 38.關於我們，左側順序為公司沿革，再接著是品牌由來，但是點擊關於我們標題選單時，會先出現品牌由來，應該先出現第一順序(公司沿革)的頁面。
2013/02/07 39.上傳內頁商品圖片時，三欄跑馬燈小圖示無法獨立上傳會隨之改變。