<!DOCTYPE HTML>
<html lang="zh-tw">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <script src="http://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/templates/common/js/jquery-migrate-1.0.0.min.js"></script>
    <script src="/templates/biofa/assets/gaesite/a.js?r={{ rand }}"></script>
    <title>網站管理後台 {{ url }}</title>
    <link type="text/css" href="/templates/biofa/assets/bootstrap/bootstrap.min.css" />
    <link type="text/css" href="/templates/biofa/assets/gaesite/admin.13.01.03.css" />
</head>
<body data-administrator-email="{{ administrator_email }}">
    <div id="progress-box"></div>
    <div id="page-top"></div>
    <div id="page-menu"></div>
    <div id="page-content"></div>
    <div id="page-footer"></div>
    <div id="page-dialog"></div>
    <div id="kind-editor" style="display: none"></div>
</body>
</html>