<script>
    gs.menu.load('/admin/page.html','/admin/sitep/list.html{{ url_p }}');
</script>
<h3 class="page-title">page_edit</h3>

<form>
    <input type="hidden" name="key" value="{{ record.str_key }}" />
    {% if record.can_delete == True %}
    <div class="row-fluid">
        <div class="span8">
            <div class="control-group">
                <label class="control-label" for="inputTitle" data-lang="field_title"></label>
                <div class="controls">
                    <input type="text" id="inputTitle" placeholder="" name="title" value="{{ record.title }}" class="span12" />
                </div>
            </div>
        </div>


        <div class="span4">
            <div class="control-group">
                <label class="control-label" data-lang="field_sitep_name"></label>
                <div class="controls">
                    {{ record.name }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <label class="control-label" for="inputContent" data-lang="field_content"></label>
    <textarea name="content" id="inputContent" class="span12 {% if record.name != "page_image" %}editor{% endif %}">{{ record.content }}</textarea>

    <div class="form-actions">
        <div class="span9" id="url_ex" style="color:#aaa;"></div>
        <button type="submit" class="btn btn-danger btn-large span3" data-lang="field_submit"></button>
    </div>
</form>

<script type="text/javascript">
    $("#url_ex").text("http://" + window.location.hostname + "/page_{{ record.name }}.html")
</script>